body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.payment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80vw;
    gap: 50px;
}


.left-container h2 {
    font-size: 20px;
    margin-bottom: 18px;
    color: #ccc;
}
.left-container p{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(14, 14, 14);
}

form {
    display: flex;
    flex-direction: column;
}
.bank{
    background: #f6f4f4;
    border: 2px solid gray;
    padding: 8px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.bank:hover{
    background: #f8f7f7;
    border: 2px solid rgb(253, 223, 89);
    color: rgb(235, 137, 8);
    padding: 8px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.bank img{
    max-width: 40px;
    border-radius: 10px;
}
form .email{
    width: 80%;
    padding: 18px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    color: #656363;
    background: #f7f3f3;
    border: none;
    outline: none;
    border-radius: 20px;
}
label {
    margin: 10px 0 5px;
    padding: 5px 10px;
}

#payment-method{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.payment-options {
    margin-bottom: 20px;
    border: 1px solid rgb(213, 210, 206);
    border-radius: 20px;
    padding: 20px 5px;
}
#card-number{
    width: 80%;
    padding: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    color: #656363;

    background: #f7f3f3;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 20px;
}
input{
    width: 80%;
    padding: 15px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    color: #656363;
    background: #f4f4f4;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 04px 03px 5px rgb(245, 244, 244);
}
.card-details {
    margin-top: 20px;
}
.right-container{
    background: #faf8f8;
}
.etries {
    display: flex;
    align-items: center;
    justify-content: space-around;
}